<div class="container mt-4">
    <h2>Excluir horário</h2>
    <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()" novalidate>
        <!-- Linha 1: Campus e Ginásio -->
        <div class="row">
            <div class="col-sm-6 mb-3">
                <app-dropdownn field="Ginásio (Obrigatório)" [dropdownOptions]="GinasioOptions"
                    (selectedOption)="onGinasioSelected($event)"></app-dropdownn>
            </div>
        </div>

        <!-- Linha 2: Horário -->
        <div class="row">
            <div class="col-sm-12 mb-3">
                <div class="br-datetimepicker" data-mode="single" data-type="datetime-local">
                    <div class="br-input has-icon"
                        [class.invalid]="scheduleForm.get('horario')?.invalid && scheduleForm.get('horario')?.touched">
                        <label for="dateandtime-input">Horário</label>
                        <input id="dateandtime-input" type="datetime-local" formControlName="horario" />
                    </div>
                    <div *ngIf="scheduleForm.get('horario')?.invalid && scheduleForm.get('horario')?.touched"
                        class="feedback danger">
                        {{ getErrorMessage('horario') }}
                    </div>
                </div>
            
            </div>
        </div>
        <!-- Botões -->
        <div class="row mt-4">
            <div class="col-sm-12 d-flex justify-content-end gap-3">
                <div>
                    <button type="submit" class="br-button primary" [disabled]="scheduleForm.invalid">Excluir
                        horário</button>
                </div>
            </div>
        </div>
    </form>
</div>
